# Files for editing
.*
*~
\#*\#
!.gitignore
!/.github/

# Build
/target

# Stuff
*.pdf
*.ipynb

# Don't commit lockfiles, but let's reevaluate maybe
# https://blog.rust-lang.org/2023/08/29/committing-lockfiles/
Cargo.lock

# Benchmarks
/bench/out/
/bench/rust/target/
/bench/julia/Manifest.toml
